.header 
    background: url('../images/bg_header.jpg') top no-repeat

.top-header
    &__content
        display: flex
        align-items: center
        height: 90px
    &__column
        flex: 0 1 50%
        &_logo
            flex: 0 0 190px
            text-align: center
    &__logo
        position: relative
        z-index: 5
        display: inline-block
    &__contacts
        position: relative
        z-index: 5

.menu
    &__list
        display: grid 
        grid-template-columns: 110px 130px 180px    
    &__item    
        margin: 1px 0
    &__link
        +Play-b
        min-height: 27px
        white-space: nowrap
        text-decoration: underline
        color: #ffffff
        transition: all 0.3s ease 0s
        font-size: 14px
        line-height: 18px
        display: inline-flex
        align-items: center
        padding: 0px 22px
        // &:hover
            // border-radius: 20px
            // background-color: #068292
            // color: #ffffff

.contacts-header
    display: flex
    justify-content: center
    &__column
        padding: 0px 30px
        border-left: 1px solid #fff 
        &:first-child
            border: 0
    &__item
        &_icon
            background: url('../images/icons/header/phone.png') left no-repeat
            padding: 0px 0px 0px 37px
    &__label
        font-size: 12px
        font-weight: 300
        color: #ffffff
        margin: 0px 0px 5px 0px
    &__phone
        color: #ffffff
        font-size: 18px
        font-weight: 800
        white-space: nowrap

.bottom-header
    &__container 
        height: 63px
        display: flex
        align-items: center
        justify-content: space-between
    &__column
        flex: 0 1 calc(50% - 95px)

.actions-header
    display: flex
    align-items: center
    li 
        margin: 0px 54px 0px 0px
    &__item
        padding: 0px 0px 0px 36px 
        display: inline-block
        line-height: 24px
        color: #999999
        transition: all 0.3s ease 0s
        &_login
            background: url('../images/icons/header/login.png') left no-repeat
            span 
                border-bottom: 1px dotted 
            &:hover
                text-decoration: none
        &_reg
            background: url('../images/icons/header/user.png') left no-repeat
            span 
                border-bottom: 1px dotted 
            &:hover
                text-decoration: none
        &_email
            background: url('../images/icons/header/mail.png') left no-repeat
            span 
                border-bottom: 1px solid 
            &:hover
                text-decoration: none

.info-header
    display: flex   
    justify-content: center
    align-items: center
    &__column
        padding: 0px 54px 0px 0px
        &:last-child
                padding: 0
    &__callback
        padding: 0px 0px 0px 32px 
        background: url('../images/icons/header/callback.png') left no-repeat
        display: inline-block
        line-height: 20px
        color: #1ab9ce
        white-space: nowrap
        span 
            border-bottom: 1px dotted 
        &:hover
            text-decoration: none
    &__schedule
        padding: 0px 0px 0px 37px 
        background: url('../images/icons/header/schedule.png') left no-repeat
        font-size: 12px
        font-weight: 300
        line-height: 18px
        color: #999999
        span 
            font-weight: 900
    &__cart 
        width: 43px
        height: 43px
        display: inline-block
        background: url('../images/icons/header/cart.png') left no-repeat
        position: relative
        span 
            padding: 0px 11px
            border-radius: 20px
            line-height: 25px
            background-color: #f68038
            position: absolute
            right: -25px
            top: -3px
            font-size: 18px
            font-weight: 700
            color: #ffffff

// Burger

.icon-menu
    display: none
